<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.BarCodes" version="3.1.0" targetFramework="wpa81" />
  <package id="Acr.MvvmCross.Plugins.BarCodeScanner" version="3.1.0" targetFramework="wpa81" />
  <package id="JISoft.Rating" version="1.0.3" targetFramework="wpa81" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="wpa81" />
  <package id="Microsoft.Windows.Ocr" version="1.0.0" targetFramework="wpa81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="wpa81" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="wpa81" />
  <package id="Neodynamic.SDK.BarcodeReader" version="1.0.2000.0" targetFramework="wpa81" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="wpa81" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="wpa81" />
</packages>